<div class="row">
  <br />
  <%= render 'sidebar' %>

  <div class="large-9 columns" role="content">
    <article>
      <div class="row">
        <div class="large-6 columns">
          <%= render 'community' %>

          <%= render 'livequestions' %>
        </div>

        <div class="large-6 columns">
          <%= render 'display' %>

          <%= render 'results' %>
        </div>
      </div>
    </article>
  </div>
</div>
